/** {
  box-sizing: border-box;
}*/

body {
  background-color: #333333;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Pirata One', cursive;
  color: white;
}

#logo {
  max-width: 10em;
}

.Square {
              width: 50px;
              height: 50px;
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              font-family: Verdana;
              line-height: 1; 
              border: 4px;
              border-style: solid;
              border-color: white;
           }


/* These weren't doing anything that I could see. Need to work out how to resize table, at moment resizing indervidual squares. */

/*.gameBoard {
  width: 100% auto;
}

#tableBoard { 
  width: 90% auto;
  line-height: 1; 
  border: 8px;
  border-style: solid;
  border-color: white;
}*/



a {
  color: grey;
}

div#message {
  font-size: 2em;
  padding: 10px 5px;
}
