body {
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#logo {
  max-width: 10em;
}

.Square {
              width: 4em;
              height: 4em;
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              font-family: Verdana;
           }


/* Need to look up this syntax style */ 
[class*='col-'] {
  float: left;
}

/*sidebar */
.col-1-3 {
  width:33.33%;
 /* background-color: pink;*/
  padding: 20px 0 20px 20px;
 
}

/*maincontentbox*/
.col-2-3 {
  width: 66.66%;
 /* background-color: yellow;*/
  padding: 20px 0 20px 20px;
  border-left: 3px solid;
  border-color: white; 
}

/*this is about clearing the float so it doesn't collapse to zero height.*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/*need to look up this syntax */
*, *:after, *:before {
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

/* These weren't doing anything that I could see. Need to work out how to resize table, at moment resizing indervidual squares. */

/*.gameBoard {
  width: 100% auto;
}

#tableBoard {
  width: 90% auto;
}*/ 

td { 
  line-height: 1; 
  border: 4px;
  border-style: solid;
  border-color: white;
}

a {
  color: grey;
}

div#message {
  font-size: 2em;
  padding: 10px 5px;
}
