* {
  text-align: center;
}

.Square {
              text-align: center;
           }

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

div#message {
	font-family: 'Finger Paint', cursive;
  margin: 5% auto;
  font-size: 2em;
  width: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h3
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
	font-family: 'Finger Paint', cursive;
}

h1 { font-size: 2.25em; }
h3 { font-size: 1.375em; }

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
	height: 35em;
}

td
{
	padding: .5em 1em;
	vertical-align: center;
	text-align: left;
	border: 1px solid #ddd;
	width: 33.3333%;
  height: 33.3333%;
}

.container
{
	max-width: 50em;
	margin: 0 auto;
}

.header
{
	color: #fff;
	background: #555;
	padding: 1em 1.25em;
	background-image: url("images/pho_recipe_top.jpg");
}

.header-heading { 
	margin: 15% auto;
	color: #FFFFFF;
	font-size: 5em;
   text-shadow:
       4px 4px 0 #333,
     -1px -1px 0 #333,  
      1px -1px 0 #333,
      -1px 1px 0 #333,
       2px 2px 0 #333;

}

.content
{
	padding: 1em 1.25em;
	background-color: #fff;
}

.footer
{
	color: #333;
	background: #000;
	padding: 1em 1.25em;
	background-image: url("images/pho_recipe_footer.jpg");
}

.btn
{
	color: #fff !important;
	background-color: grey;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover
{
	color: #fff !important;
	background-color: lightpink;
}

.btn:active
{
	color: #fff !important;
	background-color: lightgreen;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

/*
Spinning Chopsticks; */

:root {
  --t-small-jump: -25px;
  --t-large-jump: -50px;
}

.beer-wrap {
  display: flex;
  margin: auto;
  width: 100px;
  height: 100px;
  animation: jump 1.5s ease infinite;
}

.beer {
  margin: auto;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(var(--t-small-jump));
  }
  15% {
    transform: translateY(var(--t-small-jump));
  }
  25% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(var(--t-small-jump));
  }
  40% {
    transform: translateY(var(--t-small-jump));
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(var(--t-large-jump));
  }
  80% {
    transform: translateY(var(--t-large-jump));
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	
	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
	table
	{
		background-color: transparent;
		border-spacing: 0;
		border-collapse: collapse;
		border: 1px solid #ddd;
		height: 36em;
	}

	td
	{
		padding: .5em 1em;
		vertical-align: top;
		text-align: left;
		border: 1px solid #ddd;
		width: 33.3333%;
	  height: 33.3333%;
	}

}
